# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.git/

# GoLand
.idea/

build/

.dockerignore

.gitignore

Dockerfile

LICENSE

Makefile

README.md

.refresh_token.json

.env